:root {
  /* custom colors */
  --bg-grey: #e0e0e0;
  --bg-red: #ffe6e6;
  --bg-blue: #E6FFFF;
  --bg-green: #F3FFE6;
  --bg-purple: #F3E6FF;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* nav {
	margin-bottom: -10vh;
} */

.hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

nav > .hero-body {
	padding-left: 0;
	padding-right: 0;
}

#content {
	padding: 20px;
	min-height: 300px;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.active-button {
  background-color: var(--bg-grey);
}

a.button:hover {
  background-color: #f5f5f5 !important;
}

.section {
	margin: 6rem auto;
	padding: 0;
}

.subsection {
	margin: 1.5rem 0;
}

.course > h4 {
  margin: 0 0 1rem 0;
  padding: 0;
}

.course > h4.instructor {
  float: right;
}

.subsection > .course > figure {
  float: right;
  margin: 0 0 0 1rem;
  padding: 0;
  width: 30%;
}

.course > figure > img {
  border: 0.1em solid black;
  border-radius: 6px;
}

.registerbutton {
	background-color:#3273dc;
	color: white;
	padding: 1rem;
	border-radius: 6px;
	font-weight: 700;
	line-height: 1;
	font-size: 1.25em;
	width: fit-content;
	display: block;
	border: 0.1em solid #3273dc;
}

.registerbutton:hover {
	/* color: black; */
	border: 0.1em solid black;
}